$c-default: #9f7638 !default;
$c-default-o: #9f7638b6 !default;
$c-secondary: #9f7638 !default;
$c-octonary: #78592a !default;
$c-opacity-2: rgba(218, 119, 82, 0.66);
$c-78: #f8804a;
$c-35: #b58640;
$c-44: #e99b00;
$c-34: #d8a04c;
$c-s-57: #fcce00;
$c-36: #8e6831;
$c-59: #7e5d2c;
$c-67: #5b4320;
$c-68: #f4a480;
$c-73: #ffd565;
$c-77: #d3571f;
$c-a-40: #ef4c21;
$c-a-41: #ec5927;
$c-a-42: #f8c7b1;
$c-a-44: #f6a74c;
$c-a-45: #9f7638;
$c-a-52: #ab2809;
$c-74: #b0310e;
$c-72: #bf130f;
$c-s-66: #da4453;
$c-d-7: #dc5d24;
$c-s-68: #f4c2ac;
$c-d-9: #f5a580;
$c-d-10: #ffa001;
$c-d-11: #fe8400;
$c-d-12: #cf7109;
$c-d-14: #cc1212;
$c-d-21: #f0743e;
$c-d-22: #e36228;

@import "../all.scss";